{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configurableproducts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for configurableProduct in configurableProducts %}
            <tr>
                <td><a href="{{ path('configurableproduct_show', { 'id': configurableProduct.id }) }}">{{ configurableProduct.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('configurableproduct_show', { 'id': configurableProduct.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('configurableproduct_edit', { 'id': configurableProduct.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('configurableproduct_new') }}">Create a new configurableProduct</a>
        </li>
    </ul>
{% endblock %}
